<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.mensaje}}
  </li>
</ul> -->
<h1 class="text-center">Firechat</h1>
<hr>

<div class="col-md-12 text-right">
  <button (click)="chatService.logout()" *ngIf="chatService.usuario.uid"
      type="button" class="btn btn-outline-danger">
    Salir
  </button>
</div>

<app-login *ngIf="!chatService.usuario.uid"></app-login>
<div class="container main-container" *ngIf="chatService.usuario.uid">
  <div class="chat-window">
    <app-chat></app-chat>
  </div>
</div>
